* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

#email{
  font-size: 50px;
  border-radius: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.email{
  font-size: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#pass{
  font-size: 50px;
  border-radius: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.pass{
  font-size: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.head{
  display: flex;
  flex-direction: row;
  height: 70px;
  background-color: #2B3467;
  padding-top: 10px;
  /* padding-bottom: 50px; */
  /* text-align: center; */
}

.logo{
  height: 50px;
  width: 300px;
}
.name{
 margin-left: 25%;
 font-size: 40px;
 color: #FCFFE7;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form{
  display: flex;
  position: absolute;
  height: 470px;
  width: 720px;
  flex-direction: column;
  justify-content: center;
  margin-top: 110px;
  margin-left: 25%;
  margin-right: 30%;
  border: 2px solid black;
  /* align-items: center; */
  background-color: #BAD7E9;
  border-radius: 60px;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left:30px ;
  padding-top: 20px;
}

.btn{
  display: inline-block;
  font-size: 18px;
  width: 250px;
  height: 80px;
  border-radius: 75px;
  margin-top: 20px;
  font-size: 35px;
  background-color:#2B3467 ;
  color: #fff;
}
.menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top:5% ;
  margin-left: 40%;
}

